.Body {
  border: 1px solid #616161;
}

.Body tr {
  border-top: 1px solid #616161;
}

.Body tr:last-child {
  border-bottom: 1px solid #616161;
}

.Body tr:nth-child(even) {
  background: #F5F5F5;
}

.Body td {
  padding: 5px;
}

.Body a {
  color: #0366d6;
}

.Body a:visited {
  color: #0366d6;
}

@media only screen and (max-width: 890px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .Body {
    border: none;
  }
  
  .Body td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .Body td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .Body td:nth-of-type(1):before {
    content: "Name";
  }
  .Body td:nth-of-type(2):before {
    content: "Description";
  }
  .Body td:nth-of-type(3):before {
    content: "Stars";
  }
  .Body td:nth-of-type(4):before {
    content: "Forks";
  }
}