.Footer {
  color: #616161;
  list-style: none;
}

.Footer li {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #616161;
  margin: 0 5px;
}

.Footer li:hover{
  cursor: pointer;
  background: #F5F5F5;
  color: black;
}

.Footer li.current {
  background: #F5F5F5;
  color: black;
}
